{% load static %}
<!doctype html>
<html>
  <head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="{% static 'admin/admin.css' %}" />
  </head>
  <body class="admin-login-body">
    <div class="admin-login-card">
      <h2>Admin Login</h2>

      <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <button>Login</button>
      </form>
      <p><a href="{% url 'admin_forgot_password' %}">Forgot password?</a></p>

      {% for m in messages %}
      <p class="error">{{ m }}</p>
      {% endfor %}
    </div>
  </body>
</html>
