{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Event Management System</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header class="navbar">
    <div class="logo">Event Management System</div>

    <nav>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'event_list' %}">Book Events</a>

    {% if user.is_authenticated %}
        <a href="{% url 'my_bookings' %}">My Bookings</a>
        <a href="{% url 'contact' %}">Contact</a>
        <a href="{% url 'logout' %}" class="auth-btn">Logout</a>
    {% else %}
        <a href="{% url 'contact' %}">Contact</a>
        <a href="{% url 'login' %}" class="auth-btn">Login</a>
    {% endif %}
</nav>

</header>

<main class="main-wrapper">
    {% block content %}{% endblock %}
</main>

<footer class="site-footer">

  <h4 class="footer-title">Follow Us</h4>

  <div class="social-links">
    <a href="https://www.instagram.com/msd._.events/" title="Instagram">
      <img src="{% static 'images/instagram.png' %}" alt="Instagram">
    </a>
    <a href="https://wa.me/916380728771?text=Hello%20MSD%20Events,%0AI%20would%20like%20to%20enquire%20about%20booking%20an%20event.%0APlease%20share%20more%20details.%20Thank%20you.
" target="_blank" title="WhatsApp">
    <img src="{% static 'images/whatsapp.png' %}" alt="WhatsApp">
</a>
    <a href="https://www.facebook.com/profile.php?id=61586662800969" target="_blank" title="Facebook">
      <img src="{% static 'images/facebook.png' %}" alt="Facebook">
    </a>
  </div>

  <p class="copyright">
    © 2026 MSD Events. All rights reserved.
  </p>

</footer>



</body>
</html>
